
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

nav {
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: fixed;
	width: 100%;
	height: 18vh;
	padding: 3em;
	z-index: 999;
	animation: change 1s linear;
	animation-timeline: scroll(root);
}

@keyframes change {
	to {
		background-color: rgb(0, 0, 0, 0.53);
	}
}

marquee {color: white;}

.navbar {
	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 1.5em;
	font-weight: 900;
}

.logo a {
	color: orange;
}

.logo span {
	color: white;
}

.items {
	display: flex;
	gap: 1em;
}

ul {
	display: flex;
	gap: 0.7em;
}

ul a {
	color: white;
}

input {
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.7em;
	transform: translateY(-5px);
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 65vh;
	background-color: rgb(0, 0, 0, 0.63);
	background-blend-mode: darken;
	background-image: url("./images/b1.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	animation: changing 10s ease infinite;
}

@keyframes changing {
	0% {background-image: url("./images/b1.jpeg");}
	50% {background-image: url("./images/b2.jpeg");}
	100% {background-image: url("./images/1.jpeg");}
}

.round {
	width: 14em;
	height: 15em;
	background: white;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	transform: translateY(5em);
}

.round img {
	height: 90%;
	padding-top: 1.3em;
}

.title {
	position: relative;
	text-align: center;
	color: white;
	padding-top: 2em;
	font-size: 4.5em;
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: orange;
}

.title::before{
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	height: 3px;
	width: 200px;
	background-color: white;
	animation: animate 5s linear infinite;
}


@keyframes animate {
	0% {width: 200px;}
	50% {width: 100px;}
	100% {width: 200px;}
}

.banner {
	display: flex;
	flex-direction: column;
	padding: 5em;
	padding-top: 7em;
	height: 500vh;
	gap: 5em;
	background-color: #eaeaea;
}

.wrap {
	display: flex;
	flex-direction: column;
	height: 230vh;
	width: 100%;
	border-radius: 8px;
	border: 1px solid grey;
	background-color: white;
}

.video {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

video {
	border-radius: 8px;
	object-fit: cover;
	height: 80%;
	width: 80%;
	transition: all 0.5s ease;
}

video:hover {
	height: 100%;
	width: 100%;
}

.details {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 5em;
	color: #121212;
	gap: 2em;
}

.details h1 {
	font-size: 5em;
}

u {
	text-decoration: black underline;
	transition: all 0.3s ease;
}

u:hover {
	text-decoration: orange underline;
	color: orange;
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: orange;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 0.7em;
	padding-top: 0;
	padding: 3em;
}

.info p {
	color: grey;
	transition: all 0.3s ease;
}

.info p:hover {
	color: black;
}





/*
.banner {
	display: flex;
	justify-content: center;
	height: 115vh;
	padding: 3.5em;
}

.card {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.img {
	height: 60%;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.side {
	position: absolute;
	transform: translateY(8em);
	padding: 1em;
	background-color: wheat;
	writing-mode: vertical-lr;
	height: max-content;
	width: max-content;
	font-size: 2em;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1em solid white;
	border-left: 0;
}

.details {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	height: 40%;
	padding: 3em;
	padding-left: 10em;
	gap: 0.7em;
}

.info {
	display: flex;
	gap: 1.5em;
}

*/
